.ProjectPage {
  text-align: center;
  .title-container {
    width: 100%;
    padding: 3vw;
    box-sizing: border-box;
  }
  .margin-container {
    padding: 0.5vw;
  }
  .paragraph-container {
    width: 100%;
    padding: 0.7vw;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.7;
  }
  img {
    // width: auto;
    max-width: 100%;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}
