.Home {
  margin-bottom: 10vh;
  .Portrait {
    position: relative;
    top: 0;
    left: 0;
    img {
      width: 30vw;
    }
    img:nth-child(1) {
      z-index: 5;
      position: absolute;
    }
    img:nth-child(2) {
      position: absolute;
      left: auto;
    }
  }
  .subheader1 {
    margin: 20px;
  }
  .description {
    margin: 7px;
  }
  .links {
    margin-top: 40px;
    > * {
      margin-top: 10px;
      color: #393e46;
    }
    .link {
      color: #4a90e2;
    }
  }
}
