.Header {
  width: 58vw;
  max-width: 1200px;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  text-decoration: none;
  font-size: 18px;
  font-weight: medium;
  color: #393e46;

  > * {
    margin-right: 2vw;
  }

  div {
    margin-left: 3vw;
  }

  img {
    height: 30px;
    width: auto;
  }

  .link {
    text-decoration: none;
    color: #393e46;
  }
  .active {
    color: #1964a4;
    font-weight: bold;
  }
}
