@import "../../constants/styles.scss";

.Header {
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2vh;
  font-size: 18px;
  font-weight: medium;

  @include mobile {
    justify-content: space-between;
  }

  img {
    height: 30px;
    width: auto;
  }

  .link {
    color: $dark-grey;
  }

  .links {
    margin-left: 50px;
    > * {
      margin-right: 20px;
    }
  }

  .active {
    color: $dark-blue;
    font-weight: bold;
  }
}
